/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
// body{min-height:100%!important;}

@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";

#bbox{
  .stretched{
    $stretch-color: #4c6b99;
    border: 3px solid $stretch-color;
    @include border-radius(8px);
    display: block;
    background-color: darken($stretch-color, 30%);
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
  }
  position:fixed;
  width:90%;
  height:5%;

  a {
    width: 100%;
    height: 100%;
    position: relative;
    text-transform:uppercase;
    @include inline-block;
    @extend .stretched;
    @include stretch(5%,5%,5%,5%);
  }
}
@import "compass/css3";
@import "animation";

@include keyframes(growA){
  from{
    padding:0px;
  }
  to {
    padding:222px;
  }
}
@include keyframes(growB){
  from{
    padding:0px;
  }
  to {
    padding:90px;
  }
}
@include keyframes(growC){
  from{
    padding:0px;
  }
  to {
    padding:44px;
  }
}
@include keyframes(growD){
  from{
    margin:0px;
  }
  to {
    margin:5px;
  }
}
@include keyframes(bloop){
  from{
    scale:0;
  }
  to {
    scale:1;
  }
}
.grow{
  @include animation(growD 1s 1);
}
p {
  height:13px;
  padding:0px;
  // @include transition-duration(2s);
  // @include animation(growA 2s infinite); // wall
}

p._75A5B1{
  background-color:#75A5B1;
  // @include animation(growA 1s 1);
  // padding:222px;
}
p._46A198{
  background-color:#46A198;
  // @include animation(growB .6s 1);
  // padding:90px;
}
p._ACC9CD{
  background-color:#ACC9CD;
  // @include animation(growC .3s 1);
  // padding:44px;
}
p._5685A1{
  background-color:#5685A1;
  // @include animation(growD .2s 1);
  // padding:30px;
}
p._8AB692{
  background-color:#8AB692;
}
p._57907D{
  background-color:#57907D;
}
p._8DB1A7{
  background-color:#8DB1A7;
}
p._83A1A3{
  background-color:#83A1A3;
}
p._688D97{
  background-color:#688D97;
}

#count{
  position:fixed;
  z-index:5;
  margin:0 auto;
  font-size:300%;
  width: auto;
  @include inline-block;

  .tick{
    color:white;
  }
}